---
---

@import "{{ site.theme }}";
.profileImg {
  border: 1px solid #ddd;
  border-radius: 25%;
  padding: 5px;
  width: 150px;
  height: 150px;
}

* {
  box-sizing: border-box;
}

.profile {
  float: left;
  width: 25%;
  padding: 10px;
}

.message {
  float: left;
  width: 75%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
