---
---

@import "{{ site.theme }}";
.profileImg {
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px;
  width: 100%;
  height: auto;
  display: block;
}

.title {
    text-align: center;
}

* {
  box-sizing: border-box;
}

.profile {
  float: left;
  width: 30%;
  padding: 10px;
}

.message {
  float: left;
  width: 70%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* CSS for the LinkedIn overlay */

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-width: 400px;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 50%;
}

/* When you mouse over the container, fade in the overlay icon*/
.container:hover .overlay {
  opacity: 0.9;
}

/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.icon {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* When you move the mouse over the icon, change color */
.fa-facebook:hover {
  color: white;
}
/* ---------------------------- */

/* CSS for the favourite color Popup */
.square {
  height: 50px;
  width: 50px;
  background-color: #6fffff;
  margin: auto;
}

/* Popup container - can be anything you want */
.popup { /*make text blue?*/
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: #267CB9;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popupsquare {
  visibility: hidden;
  width: 66px;
  background-color: #f4f4f4;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popupsquare::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* ---------------------------- */
