---
---

@import "{{ site.theme }}";
.profileImg {
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px;
  width: 100%;
  height: auto;
  display: block;
}

.title {
    text-align: center;
}

* {
  box-sizing: border-box;
}

.profile {
  float: left;
  width: 30%;
  padding: 10px;
}

.message {
  float: left;
  width: 70%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* CSS for the LinkedIn overlay */

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-width: 400px;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 50%;
}

/* When you mouse over the container, fade in the overlay icon*/
.container:hover .overlay {
  opacity: 0.9;
}

/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.icon {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* When you move the mouse over the icon, change color */
.fa-facebook:hover {
  color: white;
}
/* ---------------------------- */

/* CSS for the favourite color Popup */
.square {
  height: 50px;
  width: 50px;
  /*background-color: #6fffff; This is done inline since it varies per person*/
  margin: auto;
}

/* Popup container - can be anything you want */
.popup { 
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: #267CB9;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popupsquare {
  visibility: hidden;
  width: 66px;
  background-color: #dbdbdb;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -40px; /* Originally this was 80. This "centers" the popup for some reason*/
}

/* Popup arrow */
.popup .popupsquare::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #dbdbdb transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* ---------------------------- */
/* CSS for Pagination*/
/* For Color Picking */
.step1CP {
  display: block;
  margin: auto;
}

.step2CP {
  display: none;
  margin: auto;
}

.step3CP {
  display: none;
  margin: auto;
}

.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.activeCP {
  background-color: #4CAF50; /*for browsers that do not support gradients */
  background-image: linear-gradient(to right, #e13e3e, #ef7422, #fcc438, #97d465, #45cdb2, #43a5da, #ad5eb2, #eb7ab3);
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/* For Color Info */
.step1CI {
  display: block;
  margin: auto;
}

.step2CI {
  display: none;
  margin: auto;
}

.step3CI {
  display: none;
  margin: auto;
}

.step4CI {
  display: none;
  margin: auto;
}

.activeCI {
  background-color: #4CAF50; /*for browsers that do not support gradients */
  background-image: linear-gradient(to right, #e13e3e, #ef7422, #fcc438, #97d465, #45cdb2, #43a5da, #ad5eb2, #eb7ab3);
  color: white;
  border: 1px solid #4CAF50;
}

/* For Color Harmonies */
.step1CH {
  display: block;
  margin: auto;
}

.step2CH {
  display: none;
  margin: auto;
}

.activeCH {
  background-color: #4CAF50; /*for browsers that do not support gradients */
  background-image: linear-gradient(to right, #e13e3e, #ef7422, #fcc438, #97d465, #45cdb2, #43a5da, #ad5eb2, #eb7ab3);
  color: white;
  border: 1px solid #4CAF50;
}
/* For Color of the Day */
.step1COTD {
  display: block;
  margin: auto;
}

.instruction1COTD {
  display: block;
  margin: 20px 0 20px 0;
  text-align: center;
}
/* ---------------------------- */

/* CSS for flexbox surrounding the tutorial & the instruction text */
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.instruction1CP {
  display: block;
  margin: 20px 0 20px 0;
  text-align: center;
}

.instruction2CP {
  display: none;
  margin: 20px 0 20px 0;
  text-align: center;
}

.instruction3CP {
  display: none;
  margin: 20px 0 20px 0;
  text-align: center;
}

/* Color Info */

.instruction1CI {
  display: block;
  margin: 20px 0 20px 0;
  text-align: center;
}

.instruction2CI {
  display: none;
  margin: 20px 0 20px 0;
  text-align: center;
}

.instruction3CI {
  display: none;
  margin: 20px 0 20px 0;
  text-align: center;
}

.instruction4CI {
  display: none;
  margin: 20px 0 20px 0;
  text-align: center;
}

/* Color Harmonies */

.instruction1CH {
  display: block;
  margin: 20px 0 20px 0;
  text-align: center;
}

.instruction2CH {
  display: none;
  margin: 20px 0 20px 0;
  text-align: center;
}
/* ---------------------------- */
