---
---

@import "{{ site.theme }}";
.profileImg {
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px;
  width: auto;
  height: auto;
}

.title {
    text-align: center;
}

* {
  box-sizing: border-box;
}

.profile {
  float: left;
  width: 30%;
  padding: 10px;
}

.message {
  float: left;
  width: 70%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* CSS for the LinkedIn overlay */
/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: red;
}

/* When you mouse over the container, fade in the overlay icon*/
.container:hover .overlay {
  opacity: 1;
}

/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
/* ---------------------------- */
